RewriteEngine on
RewriteCond %{REQUEST_URI} !\.(?:css|js|jpe?g|gif|png)$ [NC]
RewriteRule ^api\/([a-zA-Z0-9\-\_\/]*)$ api.php?p=$1 [QSA]

RewriteCond %{REQUEST_URI}/static/$1 -f
RewriteRule ^(.*)$ static/$1 [L]